/* mobile styes (default) */
.navbar {
  /* mobile syles here */
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  background-color: #f1f3ef;
  /* box-shadow: 2px 1px 0 rgba(77, 77, 77, 0.3); */
  overflow: visible;
}

.nav-brand-logo {
  /* mobile syles here */

  display: flex;
  align-items: center;
}
.navbar-brand-logo-link {
  /* mobile syles here */
  display: inline-block;
}
.nav-logo {
  /* mobile syles here */
  max-width: 100%;
  width: 80px;
  height: auto;
}

.brand-name {
  /* mobile styles */
  text-transform: uppercase;
  margin-left: 2rem;
  margin-right: 1rem;
  font-size: 2.5rem;

  font-weight: 700;
  color: #440a47;
  text-shadow: 1px 1px 1px #8d1794, 1px 2px 1px #8d1794, 1px 3px 1px #8d1794,
    1px 4px 1px #8d1794, 1px 8px 2px rgba(0, 0, 0, 0.4),
    1px 10px 6px rgba(0, 0, 0, 0.2), 1px 12px 20px rgba(0, 0, 0, 0.4);
}
.navbar-mobile {
  /* mobile styles */
  display: flex;
  align-items: center;
  align-content: center;
}
.navbar-toggle {
  width: 80px;
  height: auto;
  cursor: pointer;
  margin-left: 10px;
}

.main-list{
  display: none;
}
/* tablets styles here */
@media screen and (min-width: 768px) {
  .navbar {
    /* tablets styles */
  }
  .nav-brand-logo {
    /* tablets styles */
  }
  .brand-name {
    /* tablets styles */
  }
  .navbar-mobile {
    /* tablets styles */
  }
  
}

/* laptop styles */
@media screen and (min-width: 1024px) {
  .navbar {
    /* laptops styles */
  }
  .nav-brand-logo {
    /* laptops styles */
  }
  .brand-name {
    /* laptops styles */
  }
  .navbar-mobile {
    /* laptop styles */
    display: none;
  }
  .main-list{
    display: flex;
  }
}



ul {
  position: relative;
  display: flex;
}
.navbar-list-mobile {
  position: relative;
}

ul li {
  list-style: none;
  margin: 2rem;
  /* comment margin when screen km ho */
}
.navbar-list-mobile-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar-list-mobile-item:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}
ul li:not(:last-child) {
  border-right: 1px solid #e1e1e1;
}

.list-item {
  background: #0affd6;
  color: #575757;
  text-align: center;
  height: 2.5rem;
  width: 4rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  display: block;
  text-decoration: none;
  transition: all 0.25s linear;
}

.list-item:hover {
  background-color: #031701;
  color: #fffcfb;
  transform: translate(0.2rem);
  transition: all 0.25s linear;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.list-item::before,
.list-item::after {
  transition: all 0.25s linear;
}

.list-item:hover::before {
  background: #003c1d;
  width: 1rem;
  top: 0.5rem;
  left: -1rem;
}

.list-item:hover::after {
  background: #013f1c;
  width: 1rem;
  bottom: -2.5rem;
  left: 1rem;
  height: 4rem;
}

.list-item::before,
.list-item::after {
  content: "";
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5rem;
}

.list-item::after {
  height: 4rem;
  background: #07643d;
  bottom: -2.25rem;
  left: 1.5rem;
  transform: rotate(90deg) skew(0, 45deg);
}

.list-item::before {
  height: 2.5rem;
  background: #07643d;
  top: 0.25rem;
  left: -0.5rem;
  transform: skewY(-45deg);
}

.navbar-list-mobile-link {
  background: #000;
  color: #575757;
  text-align: center;
  height: 2.5rem;
  width: 4rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #e1e1e1;
  position: relative;
  display: block;
  text-decoration: none;
  transition: all 0.25s linear;
}

.navbar-list-mobile-link:hover {
  background-color: #031701;
  color: #fffcfb;
  transform: translate(0.2rem);
  transition: all 0.25s linear;
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
}

.navbar-list-mobile-link::before,
.navbar-list-mobile-link::after {
  transition: all 0.25s linear;
}

.navbar-list-mobile-link:hover::before {
  background: #003c1d;
  width: 1rem;
  top: 0.5rem;
  left: -1rem;
}

.navbar-list-mobile-link:hover::after {
  background: #013f1c;
  width: 1rem;
  bottom: -2.5rem;
  left: 1rem;
  height: 4rem;
}

.navbar-list-mobile-link::before,
.navbar-list-mobile-link::after {
  content: "";
  position: absolute;
  transition: all 0.25s linear;
  width: 0.5rem;
}

.navbar-list-mobile-link::after {
  height: 4rem;
  background: #333;
  bottom: -2.25rem;
  left: 1.5rem;
  transform: rotate(90deg) skew(0, 45deg);
}

.navbar-list-mobile-link::before {
  height: 2.5rem;
  background: #333;
  top: 0.25rem;
  left: -0.5rem;
  transform: skewY(-45deg);
}


.navbar-list-mobile-container {
  position: absolute;
  top: 50px;
  right: 1rem;
  margin-top: 1.25rem;
  min-width: 140px;
  z-index: 10;
  background: linear-gradient(to bottom, #a5a4a4, #baa0a0);
  border-radius: 10px;
}

.navbar-list-mobile {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
}
